<h1>Edit Park</h1>

<%= form_for(@park) do |f| %>
	<%= f.label :name %><br/>
	<%= f.text_field :name %><br/>
	<%= f.label :location %><br/>
	<%= f.text_field :location %><br/>
	<%= f.label :equipment %><br/>
	<%= f.text_field :equipment %><br/>
	<%= f.label :hours %><br/>
	<%= f.text_field :hours %><br/>
	<%= f.label :open_space %><br/>
	<%= f.text_field :open_space %><br/>
	<%= f.label :parking_lot %><br/>
	<%= f.text_field :parking_lot %><br/>
	<%= f.label :restrooms %><br/>
	<%= f.text_field :restrooms %><br/>
	<%= f.label :comments %><br/>
	<%= f.text_area :comments %><br/>

	<%= f.submit %>
	
<% end %>

<%= link_to 'Details', @park %>
<%= link_to 'Back', parks_path %>
<%= link_to 'Delete', @park, method: :delete, data: {confirm: 'Are you sure?'} %>
