
<h1>Your Parks</h1>

<hr/>

<div id="index-wrapper">
	<div id="columns">
		<% @parks.each do |park| %>

			<div class="park">
				<div><strong>Name: </strong><%= park.name %></div>
				<div><strong>Location: </strong><%= park.location %></div>
				<div><strong>Equipment: </strong><%= park.equipment %></div>
				<div><strong>Hours: </strong><%= park.hours %></div>
				<div><strong>Open space: </strong><%= park.open_space %></div>
				<div><strong>Parking lot: </strong><%= park.parking_lot %></div>
				<div><strong>Restrooms: </strong><%= park.restrooms %></div>
				<div><strong>Comments: </strong><%= park.comments %></div>
			</div>
			
		<% end %>
	</div>
</div>
